# Ignorar archivos de Python compilados
__pycache__/
*.py[cod]

# Ignorar entorno virtual
venv/

# Ignorar archivos de verificación y la carpeta completa
verifications/

# Ignorar base de datos
cookies.db

# Ignorar archivos de build
/build/
/dist/
*.spec
